<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Document</title>
<link rel=stylesheet href=/dist/main.ff7f92283bb1e129630a.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin=anonymous referrerpolicy=no-referrer>
</head>
<body>
<header>
<section id=home>
<div class=bac>
<div class="navbar d-none">
<div class="navItem logo">
<img src=/assets/images/logo.png alt=logo>
</div>
<div class=navItem>
<span class="close fa-xl"><i class="fa-regular fa-circle-xmark"></i></span>
<ul class=navLinks>
<li class=home>Home</li>
<li class=course>Courses</li>
<li class=about>About</li>
<li class=about>Subscribe</li>
</ul>
</div>
<div class=navItem><a class="button contact">Contact Us</a></div>
<a class="hamburger navItem"><i class="fa-solid fa-bars fa-xl"></i></a>
</div>
<div class="hero container d-none">
<div class=row>
<div class="heroDes column">
<h2 class=target>Learn From Experts</h2>
<h5 class=target>Welcome to Waseem's Academy!</h5>
<p>Are you looking for personalized tuition that can help you succeed in school? Look no further than Student Tuition Website! We offer a wide range of subjects, from math and science to English and history. Our expert tutors can help you with everything from homework assignments to test preparation
</p>
<a class="button addmission btnAdm">Admission Now</a>
</div>
<div class="heroImg column">
<div class="box1 box">
<div class=content>
<div class=image>
<img id=profileImg src=/assets/images/waseem.webp alt="Profile Image" loading=lazy>
</div>
<div class=name>
<strong>Waseem Sir</strong>
</div>
<div class=text>
<p class=job_title>Teacher</p>
<ul class=job_discription>
<li>Taught 1500+ batches</li>
<li>15 years + experience</li>
<li>Expertise in Maths and Science</li>
<li>M.A Economics from KU, Srinagar</li>
</ul>
</div>
<div class=connectBtns>
<div>
<a href=https://wa.me/7780813411 class="message button"><i class="fa-brands fa-whatsapp"></i>
Message</a>
</div>
<div>
<a href=tel:+917780813411 class="connect button"><i class="fa-solid fa-phone"></i> Connect</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</header>
<main>
<section id=courses>
<div class=courses>
<h1>Courses</h1>
</div>
<div class="courseCardsContainer container">
<div class="swiper sw1">
<div class=swiper-wrapper>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=Img8th src=/assets/images/8th.webp alt=8th loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 10000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
1 Year
</p>
<strong class="fontPrimary cValue" data-course=8th>Class 8th</strong>
<p class=fontSecondary>All NCERT/CBSE Subjects Included</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span> 60 Stundents</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=Img9th src=/assets/images/9th.webp alt=9th loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 11000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
1 Year
</p>
<strong class="fontPrimary cValue" data-course=9th>Class 9th</strong>
<p class=fontSecondary>All NCERT/CBSE Subjects Included</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span> 43 Stundents</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=Img10th src=/assets/images/10th.webp alt=10th loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 13000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
1 Year
</p>
<strong class="fontPrimary cValue" data-course=10th>Class 10th</strong>
<p class=fontSecondary>All NCERT/CBSE Subjects Included</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span> 83 Stundents</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=Img11th src=/assets/images/11th.webp alt=11th loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 15000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
1 Year
</p>
<strong class="fontPrimary cValue" data-course=11th>Class 11th</strong>
<p class=fontSecondary>For Arts Stream Only</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span> 120 Stundents</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=Img12th src=/assets/images/12th.webp alt=12th loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 15000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
1 Year
</p>
<strong class="fontPrimary cValue" data-course=12th>Class 12th</strong>
<p class=fontSecondary>For Arts Stream Only</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span>90 Stundents</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=courseCard>
<div class=img>
<img id=ImgEco src=/assets/images/economics.webp alt=economics loading=lazy>
</div>
<div class=head>
<span class=prTag><i class="fa-solid fa-indian-rupee-sign"></i> 6000</span>
<p class=fontSecondary>
<span><i class="fa-solid fa-clock fontSecondary"></i></span>
6 Months
</p>
<strong class="fontPrimary cValue" data-course=economics>Any Class</strong>
<p class=fontSecondary>Economics : Basic to Advance</p>
</div>
<div class=foot>
<p class=fontSecondary><span><i class="fa-solid fa-users-line fontSecondary"></i></span> 23,000 Stundents</p>
</div>
</div>
</div>
</div>
<div class=slideBtns>
<button class="button prev">Prev</button>
<button class="button next">Next</button>
</div>
</div>
</div>
</section>
<section id=addmission>
<div class="admission container">
<div class=admissionHeading>
<h1 class=fontBlack>Admission</h1>
<p class=fontSecondary>Unlock Your Potential with Waseem's Academy's Admission Process Today!</p>
</div>
<form action=https://formspree.io/f/mgejrrao method=POST>
<fieldset>
<label for=name>Name</label>
<input placeholder="Enter your Name" id=name name=name required maxlength=30>
<label for=Age>Age</label>
<input type=number placeholder="Enter the Age" id=Age name=Age required>
<label for=course>Select Course</label>
<select id=course name=course>
<option value=8th selected>Class 8th</option>
<option value=9th>Class 9th</option>
<option value=10th>Class 10th</option>
<option value=11th>Class 11th</option>
<option value=12th>Class 12th</option>
<option value=economics>Economics</option>
</select>
<label for=school>Current Institute</label>
<input placeholder="Enter the name of school/collage/institute" id=school name=currentSchool required maxlength=30>
<label for=address>Address</label>
<input placeholder="Enter the address" id=address name=Address required maxlength=30>
<label for=Phone>Phone</label>
<input type=tel placeholder="Enter the Phone Number" id=Phone name=PhoneNumber required maxlength=10>
<label for=commentField>Comment</label>
<textarea placeholder="Enter a comment, if not leave it empty" id=commentField name=comment maxlength=200></textarea>
<button class=button type=submit>Submit</button>
</fieldset>
</form>
</div>
</section>
<section>
<div class="testimonials container">
<div class=testimonialHeading>
<h1 class=fontBlack>Testimonials</h1>
</div>
<div class="swiper sw2">
<div class=swiper-wrapper>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img src=https://i.postimg.cc/bryMmCQB/profile-image.webp alt=men loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Mudasir</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"A remarkable teacher, combining expertise with genuine care, igniting students' love for learning. Inspires critical thinking, creativity, and a thirst for knowledge, making a lasting impact on each student's life."</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img src=https://i.postimg.cc/bryMmCQB/profile-image.webp alt=men loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Ajaz</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"An exceptional educator, dedicated to cultivating inquisitive minds. Creates a supportive, engaging classroom, empowering students to thrive academically and personally, fostering a lifelong passion for learning"</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img id=ImgGirl1 src=/assets/images/girl.webp alt=men loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Farwa</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"A great teacher helps students learn with enthusiasm and fun. They make it easy to understand and encourage us to keep learning."</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img id=ImgGirl2 src=/assets/images/girl.webp alt=hijabgirl loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Aqsa</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"An amazing teacher makes learning fun and easy. They are friendly, helpful, and make us enjoy every lesson."</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img src=https://i.postimg.cc/bryMmCQB/profile-image.webp alt=men loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Momin</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"Sir's support in math is invaluable. He patiently explains complex concepts which helps me gain confidence and excel in a challenging subject."</p>
</div>
</div>
</div>
<div class=swiper-slide>
<div class=testmonialCard>
<div class=testCardHead>
<img id=ImgGirl3 src=/assets/images/girl.webp alt=hijabgirl loading=lazy>
</div>
<div class=testimonialBody>
<p><Strong class=fontBlack>Nowsheen</Strong></p>
<p><small class=fontSecondary>Student</small></p>
<p class=fontSecondary>"Waseem Sir a game-changer. He simplified complex economic theories, helping me not only excel academically but also understand the real-world implications of economic concepts. Thank you very Much Sir!"</p>
</div>
</div>
</div>
</div>
</div>
<div class=slideBtns>
<button class="button prev2">Prev</button>
<button class="button next2">Next</button>
</div>
</div>
</section>
<section id=contact>
<div class=mapsHeading>
<h2 class=fontBlack>Contact Us</h2>
</div>
<div class="map container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d493.2726979114761!2d74.80622658191211!3d34.11479404825689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1859830476643%3A0x48350c57755308f1!2sALAMGARI%20BAZAR%20SRINAGAR!5e0!3m2!1sen!2sin!4v1697531752848!5m2!1sen!2sin" width=100% height=400 style=border:0 allowfullscreen loading=lazy referrerpolicy=no-referrer-when-downgrade></iframe>
</div>
<div class="address container">
<p class=fontBlack><i class="fa-solid fa-location-crosshairs fa-lg fontBlack"></i> Waseem's Academy, Alamgari Bazar, Srinagar, J&K.</p>
<p class=fontBlack><i class="fa-solid fa-phone fontBlack"></i> 7780813411</p>
<p class=fontBlack><i class="fa-solid fa-envelope fontBlack"></i> waseembeigh222@gmail.com</p>
</div>
</section>
</main>
<footer>
<section id=footer>
<div class="container footer">
<div class=row>
<div class=column>
<div>
<img src=/assets/images/logo.png alt=logo style=height:100px>
</div>
<p><strong class=fontBlack>About Waseem's Academy</strong></p>
<p class=fontSecondary>Waseem's Academy is a dynamic educational organization dedicated to empowering students through innovative learning methods, fostering critical thinking, and nurturing skills essential for a successful future</p>
</div>
<div class=column>
<p><strong class=fontBlack>Links</strong></p>
<ul class=footLinks>
<li class=home>Back to Top</li>
<li class=course>Courses</li>
<li class=addmission>Admission</li>
</ul>
</div>
<div class=column>
<p>
<strong class=fontBlack>Subscribe</strong>
</p>
<p class=fontSecondary>
Subscribe for our Newsletters
</p>
<form action=https://formspree.io/f/mgejrrao method=POST>
<input type=email name=emailForSubscribe placeholder="Enter email here">
<button class="button subscribeBtn" type=submit>Subscribe</button>
</form>
</div>
</div>
</div>
<div class="copyright fontSecondary">Waseem's Academy &copy; Copyright All Rights Reserved.</div>
</section>
</footer>
<script>function adjustBackgroundHeight(){let e=document.querySelector(".bac"),t=document.querySelector(".hero"),n=document.querySelectorAll(".navItem")[1],o=document.querySelector(".navbar"),r=document.querySelector(".hero");o.classList.remove("d-none"),r.classList.remove("d-none");let d=t.offsetHeight;e.style.height=d+o.offsetHeight+120+"px",window.innerWidth>=930&&n.classList.remove("NavLinkOpen")}window.addEventListener("resize",adjustBackgroundHeight),window.addEventListener("load",adjustBackgroundHeight)</script>
<script src=/dist/main.1bc785d8e7191f768fae.bundle.js async></script>
</body>
</html>